:root {
	--body-font: var(--font-primary);
	--heading-font: var(--font-primary);
	--mono-font: var(--font-mono);
}

body {
	font-family: var(--font-primary);
	scroll-behavior: smooth;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	color: inherit;
	outline: none;
	border: 0;
}

a,
button {
	cursor: pointer;
}

.container {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}
